<meta charset="utf-8">
<title>Interactive Accessibility Map</title>
<meta name="description"
	content="An interactive map for reporting and viewing accessibility issues on the Fresno State campus.">
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
<link rel="icon" href="images/fabulously_disabled_icon.png" type="image/x-icon">
<!-- Our CSS -->
<link rel="stylesheet" href="css/index.css">
