<!DOCTYPE html>
<html>

<head>
    <%- include('base_head') %>

        <title>Fabulously Disabled | Fresno State Campus Accessibility Map</title>
        <!-- Leaflet CSS-->
        <link rel="stylesheet" href="leaflet/leaflet.css" />
</head>

<body>
    <!-- Purify -->
    <script src="purify/purify.js"></script>

    <!-- Leaflet JS -->
    <script src="leaflet/leaflet.js"></script>

    <div id="map"></div>

    <script src="scripts/issueMarkers.js"></script>
    <script src="scripts/map.js"></script>
</body>

</html>
