<!DOCTYPE HTML>
<html>

<head>
	<%- include('base_head'); %>
</head>

<body>
	<form action="./submit" method="POST" class="report-form">
		<label for="loc-description">Describe the location</label><br>
		<textarea name="loc" id="loc-desc" maxlength="256" rows="2" cols="60" wrap="soft"
			required="required"></textarea>
		<label for="desc">Describe the issue</label><br>
		<textarea name="desc" id="desc" maxlength="256" rows="6" cols="60" wrap="soft" required="required"></textarea>
		<input type="submit" value="Submit">
	</form>
</body>

</html>
